{% extends "base.html" %}
{% block title %}hjem{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <img class="img-responsive col-12 px-0 mb-5" src="{{url_for('static', filename='img/forside_1.png')}}" alt="forside">
    </div>
    <div id="oss" class="row justify-content-center text-center mt-5 mb-5">
        <div class="col-lg-5 col-md-8 mt-5">
            <h1>Om Oss</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, est te delenit verterem,
                ad probo mazim docendi sed, solum laoreet prodesset te ius. Ad mel
                omnis graece moderatius, altera virtute postulant in nam.
                Eu omnis noster qui, vis lorem homero option id.</p>
            <img class="rounded img-fluid mt-5 mb-5" src="{{url_for('static', filename='img/gruppebilde.jpg')}}" alt="gruppebilde">
        </div>
    </div>
</div>

<div id="turer" class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <h1>Dit Staar Somir</h1>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center text-center mt-5 mb-5">
        <div class="col-lg-5 col-md-12 mt-5 mb-5">
            <h3>Skrubsbu</h3>
            <hr>
            <p>Lorem ipsum dolor sit amet, est te delenit verterem,
                ad probo mazim docendi sed, solum laoreet prodesset te ius. Ad mel
                omnis graece moderatius, altera virtute postulant in nam.
                Eu omnis noster qui, vis lorem homero option id.</p>
        </div>
            <div class="col-lg-5 col-md-12 mt-5 mb-5">
                <div class="rounded" id="map1" style="max-width: 100%; height: 500px"></div>
            </div>
    </div>
    <div class="row justify-content-center text-center mt-5 mb-5">
        <div class="col-lg-5 col-md-12 mt-5 mb-5">
            <div class="rounded" id="map2" style="max-width: 100%; height: 500px"></div>
        </div>
        <div class="col-lg-5 col-md-12 mt-5 mb-5">
            <h3>Taumevatn</h3>
            <hr>
            <p>Lorem ipsum dolor sit amet, est te delenit verterem,
                ad probo mazim docendi sed, solum laoreet prodesset te ius. Ad mel
                omnis graece moderatius, altera virtute postulant in nam.
                Eu omnis noster qui, vis lorem homero option id.</p>
        </div>
    </div>
</div>

<div id="bilder" class="container">
    <div class="row">
        <div class="col text-center mt-5">
            <h1>Profiler</h1>
            <hr>
        </div>
    </div>
    <div class="row justify-content-center text-center mt-3">
            <div class="col-lg-3 col-md-6 mb-2">
                <img class="rounded" style="max-width:100%; height: 350px" src="{{url_for('static', filename='img/profil_Skogen(720x960).png')}}" alt="">
            </div>
            <div class="col-lg-3 col-md-6 mb-2">
                <img class="rounded" style="max-width:100%; height: 350px" src="{{url_for('static', filename='img/profil_J1(720x960).png')}}" alt="">
            </div>
            <div class="col-lg-3 col-md-6 mb-2">
                <img class="rounded" style="max-width:100%; height: 350px" src="{{url_for('static', filename='img/profil_Dyrnes(720x960).png')}}" alt="">
            </div>
            <div class="col-lg-3 col-md-6 mb-2">
                <img class="rounded" style="max-width:100%; height: 350px" src="{{url_for('static', filename='img/profil_Henning(720x960).png')}}" alt="">
            </div>
    </div>
    <div class="row justify-content-center text-center mt-5 mb-5">
            <div class="col-lg-3 col-md-4 mb-2">
                <img class="rounded" style="max-width:100%; height: 400px" src="{{url_for('static', filename='img/profil_Mats(540x960).png')}}" alt="">
            </div>
            <div class="col-lg-3 col-md-4 mb-2">
                <img class="rounded" style="max-width:100%; height: 400px" src="{{url_for('static', filename='img/profil_Asle(540x960).png')}}" alt="">
            </div>
            <div class="col-lg-3 col-md-4 mb-2">
                <img class="rounded" style="max-width:100%; height: 400px" src="{{url_for('static', filename='img/presteVoung(540x960).png')}}" alt="">
            </div>
            <div class="col-lg-3 col-md-4 mb-2">
                <img class="rounded" style="max-width:100%; height: 400px" src="{{url_for('static', filename='img/Mats+Roy=sant.png')}}" alt="">
            </div>
    </div>
</div>

{% endblock %}



