{% extends "base.html" %}
{% block title %}LOGIN{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <img class="img-responsive col-12 px-0 mb-5" src="{{url_for('static', filename='img/forside_1.png')}}" alt="gruppebilde">
    </div>
    <div class="row justify-content-center text-center mt-5 mb-5">
        <div class="col-lg-6 col-md-8 mt-4">
            <h2>Om Oss</h2>
            <p>Vi er en gruppe engasjerte turgåere som med litt alkohol i tanken
                kan bestige et hvert fjell hvor enn det måtte være. 
                Vi har siden den spede begynnelse hatt en stor glede av hver et
                skritt vi har tatt i den flotte norske naturen.
            </p>
            <img id="turer" class="rounded img-fluid mt-5 mb-5" style="max-width:100%; height: 360px" src="{{url_for('static', filename='img/gruppebilde.jpg')}}" alt="">
        </div>
    </div>
    <div class="row justify-content-center text-center mt-5 mb-5">
        <div class="col-lg-2 col-md-12 mt-5 mb-5">
            <h2>Skrubsbu</h2>
            <p>Lorum ipsum fasdasdfasdfasdfasdf asdfgasdfkj aslkdfjalk sjdf
                askjdfkas kasjdfkjøasldk aksdfkøjasd kalsjdfkl
                askdjfklajsd lkasjdjfkljasd klajsdlfkj asalksdjflkasd
            </p>
        </div>
            <div class="col-lg-3 col-md-12 mt-5 mb-5">
                <div id="map1" style="max-width: 100%; height: 400px"></div>
            </div>
        <div class="col-lg-2 col-md-12 mt-5 mb-5">
            <h2>Taumevatn</h2>
            <p>Lorum ipsum fasdasdfasdfasdfasdf asdfgasdfkj aslkdfjalk sjdf
                askjdfkas kasjdfkjøasldk aksdfkøjasd kalsjdfkl
                askdjfklajsd lkasjdjfkljasd klajsdlfkj asalksdjflkasd
            </p>
        </div>
        <div class="col-lg-3 col-md-12 mt-5 mb-5">
            <div id="map2" style="max-width: 100%; height: 400px"></div>
        </div>
    </div>
    <div id="bilder" class="row justify-content-center text-center mt-10 mb-5">
            <h1>Profiler</h1>
    </div>
    <div class="row justify-content-center text-center mt-5 mb-5">
            <div class="col-lg-3 col-md-6 mb-2">
                <img class="rounded" style="max-width:100%; height: 350px" src="{{url_for('static', filename='img/profil_Skogen(720x960).png')}}" alt="">
            </div>
            <div class="col-lg-3 col-md-6 mb-2">
                <img class="rounded" style="max-width:100%; height: 350px" src="{{url_for('static', filename='img/profil_J1(720x960).png')}}" alt="">
            </div>
            <div class="col-lg-3 col-md-6 mb-2">
                <img class="rounded" style="max-width:100%; height: 350px" src="{{url_for('static', filename='img/profil_Dyrnes(720x960).png')}}" alt="">
            </div>
            <div class="col-lg-3 col-md-6 mb-2">
                <img class="rounded" style="max-width:100%; height: 350px" src="{{url_for('static', filename='img/profil_Henning(720x960).png')}}" alt="">
            </div>
    </div>
    <div class="row justify-content-center text-center mt-5 mb-5">
            <div class="col-lg-3 col-md-6 mb-2">
                <img class="rounded" style="max-width:100%; height: 400px" src="{{url_for('static', filename='img/profil_Mats(540x960).png')}}" alt="">
            </div>
            <div class="col-lg-3 col-md-6 mb-2">
                <img class="rounded" style="max-width:100%; height: 400px" src="{{url_for('static', filename='img/profil_Asle(540x960).png')}}" alt="">
            </div>
            <div class="col-lg-3 col-md-6 mb-2">
                <img class="rounded" style="max-width:100%; height: 400px" src="{{url_for('static', filename='img/presteVoung(540x960).png')}}" alt="">
            </div>
            <div class="col-lg-3 col-md-6 mb-2">
                <img class="rounded" style="max-width:100%; height: 400px" src="{{url_for('static', filename='img/Mats+Roy=sant.png')}}" alt="">
            </div>
    </div>

{% endblock %}



