{% extends "base.html" %}
{% block title %}kart{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/map.css')}}">
{% endblock %}

{% block content %}
    <div class="form-row justify-content-center mt-3">
        <div class="col-3">
            <input id="address" type="text" class="form-control" placeholder="Sandnes">
        </div>
            <button id="go" type="submit" class="btn btn-sm btn-dark ml-2"> GO </button>
            <button id="slett" type="submit" class="btn btn-sm btn-danger ml-2 pr-2 pl-2"> X </button>
    </div>

    <div class="container mt-3">
        <div id="map" style="width: 100%; height: 500px;"></div>
    </div>
    <div class="form-row justify-content-center mt-3">
        <div class="col-4">
            <input id="nameInput" autocomplete="off" type="text" class="form-control" placeholder="Navn på tur">
        </div>
        <div class="col-3">
            <input id="distance" type="text" autocomplete="off" class="form-control" placeholder="0.00 km" disabled>
        </div>
        <button id="savebtn" class="btn btn-sm btn-dark ml-2">Lagre</button>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <ul id="turListe" class="list-group mt-5">
                {% for trip in trips %}
                {% if loop.index < 11 %}
                    <button class="list-group-item list-group-item-action"> {{trip.name}}, {{trip.distance}} </button>
                {% endif %} 
                {% endfor %}
                </ul>
            </div>
        </div>

        <!-- PAGINATION -->
        <div class="row justify-content-center mt-4">
            <nav aria-label="...">
            <ul id="paginator" class="pagination pagination-sm">
                <li class="page-item">
                    <a id="tab1" class="page-link">1</a>
                </li>
                {% for trip in trips %}
                {% if loop.index is divisibleby 11 %}
                    <li class="page-item"><a id="tab{{(loop.index // 10) + 1 }}" class="page-link">{{ (loop.index // 10) + 1 }}</a></li>
                {% endif %}
                {% endfor %}
            </ul>       
        </div>

        <script>
            $(function () {
                 //$("#paginator").on("click", "li", function() {
                   // list.empty();
                    //list.append('{% for trip in trips %}');
                    //list.append('{% if (loop.index) < 11 %}');
                    //list.append('<li class="list-group-item">{{ trip.name }}, {{ trip.distance }}</li> {% endif %}{% endfor %}');
                //});

                $("#tab1").on("click", function () {
                    list.empty();
                    list.append('{% for trip in trips %}');
                    list.append('{% if (loop.index) < 11 %}');
                    list.append('<button class="list-group-item list-group-item-action">{{ trip.name }}, {{ trip.distance }}</button>{% endif %}{% endfor %}');
                });

                $("#tab2").on("click", function(){
                    list.empty();
                    list.append('{% for trip in trips %}');
                    list.append('{% if (loop.index) < 21 %}');
                    list.append('{% if (loop.index) > 10 %}');
                    list.append('<button class="list-group-item list-group-item-action">{{ trip.name }}, {{ trip.distance }}</button> {% endif %}{% endif %}{% endfor %}');
                });

                $("#tab3").on("click", function(){
                    list.empty();
                    list.append('{% for trip in trips %}');
                    list.append('{% if (loop.index) < 31 %}');
                    list.append('{% if (loop.index) > 20 %}');
                    list.append('<button class="list-group-item list-group-item-action">{{ trip.name }}, {{ trip.distance }}</button> {% endif %}{% endif %}{% endfor %}');
                });

            });
        </script>

{% endblock %}